<%
  placeholder ||= "Filter table"
  filter_id ||= SecureRandom.uuid
%>
<form>
  <label for="<%= filter_id %>" class="rm"><%= placeholder %></label>
  <input id="<%= filter_id %>" type="text" class="form-control normal js-filter-table-input" placeholder="<%= placeholder %>">
</form>
