/* ==========================================================================
   Base
   ========================================================================== */

/* Force vertical scrolling and prevent jumps when hiding/showing content
   specifically with modals and when filtering */
html {
  overflow-y: scroll;
}

label {
  font-weight: bold;
  cursor: pointer;
}

/* ==========================================================================
   Helpers
   ========================================================================== */

.relative {
  position: relative;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.bookmarklet {
  cursor: move;
}

a.inherit,
a.inherit:visited,
.inherit {
  color: inherit;
}

/* Form helpers
   ========================================================================== */

/* Reset the default bootstrap legend styles, eg for use with radio buttons
   See http://csswizardry.com/2014/01/extending-silent-classes-in-sass/ for % syntax */
.legend-reset,
%legend-reset {
  font-size: 1em;
  border: none;
  margin-bottom: 0;
  width: auto;
}

.legend-inline {
  @extend %legend-reset;
  float: left;
  margin-top: 1px;
  margin-right: 10px;
}

/* Margin helpers
   ========================================================================== */

.add-vertical-margins {
  @include add-vertical-margins('!important');
}

.add-top-margin {
  @include add-top-margin('!important');
}

.remove-top-margin {
  @include remove-top-margin('!important');
}

.add-bottom-margin {
  @include add-bottom-margin('!important');
}

.add-big-bottom-margin {
  margin-bottom: $default-vertical-margin * 2 !important;
}

.remove-bottom-margin {
  @include remove-bottom-margin('!important');
}

.add-right-margin {
  @include add-right-margin('!important');
}

.add-left-margin {
  @include add-left-margin('!important');
}

.dl-spaced dd {
  margin-bottom: $default-vertical-margin;
}

.add-label-margin {
  @include add-label-margin;
}

/* Padding helpers
   ========================================================================== */

.add-vertical-padding {
  @include add-vertical-padding('!important');
}

.remove-padding {
  padding: 0 !important;
}

.add-top-padding {
  @include add-top-padding('!important');
}

.remove-top-padding {
  padding-top: 0 !important;
}

.add-bottom-padding {
  @include add-bottom-padding('!important');
}

.remove-bottom-padding {
  padding-bottom: 0 !important;
}

/* Icon helpers
   ========================================================================== */

// Vanilla glyphicons when alongside text can appear too large
// this is a helper to consistently downscale them
%glyphicon-smaller-than-text,
.glyphicon-smaller-than-text {
  font-size: 80%;
}

.glyphicon-alert-success {
  @extend %glyphicon-smaller-than-text;
  @extend .text-success;
  @include add-right-margin;
}

/* ==========================================================================
   Bootstrap modal overrides
   ========================================================================== */

.modal-footer {
  background: #eee;
  border-radius: 0 0 $border-radius-base $border-radius-base;
}

/* ==========================================================================
   Bootstrap link overrides
   ========================================================================== */

main a {
  &:visited {
    color: $link-color-visited;
  }

  &.no-visit:visited {
    color: $link-color;
  }

  // Don't give visited links that are buttons
  // the visited link colour

  &.btn:visited {
    color: $default-button-color;
  }

  &.btn-primary:visited {
    color: $primary-button-color;
  }

  &.btn-info:visited {
    color: $info-button-color;
  }

  &.btn-success:visited {
    color: $success-button-color;
  }

  &.btn-warning:visited {
    color: $warning-button-color;
  }

  &.btn-danger:visited {
    color: $danger-button-color;
  }

  &.btn-inverse:visited {
    color: $inverse-button-color;
  }

  &.btn-link:visited {
    color: $link-color;
  }

}

/* Visited links in Bootstrap component overrides
   ========================================================================== */

/* Navigation pills */

.nav-pills > li > a:visited {
  color: $link-color;
}

.nav-pills > li > a:visited:hover {
  color: $link-hover-color;
}

.nav-pills > li.active > a:visited,
.nav-pills > li.active > a:visited:hover {
  color: $component-active-color;
}

/* Dropdown menu */

.dropdown-menu > li > a:visited,
.dropdown-menu > li > a:hover:visited {
  color: $text-color;
}

.dropdown-menu > li.active > a:visited,
.dropdown-menu > li.active > a:hover:visited {
  color: $component-active-color
}

/* List groups */

.list-group a.list-group-item:visited {
  color: $list-group-link-color;
}

.list-group a.list-group-item:visited:hover {
  color: $list-group-link-color;
}

.list-group a.list-group-item.active:visited,
.list-group a.list-group-item.active:visited:hover {
  color: $component-active-color;
}

/* List groups with content  */

a.list-group-item {

  &:hover .list-group-item-heading {
    text-decoration: underline;
  }

  .list-group-item-heading {
    color: $link-color;
  }

}

/* Further link types
   ========================================================================== */

.link-muted,
.link-muted:visited {
  color: $gray-light;
  text-decoration: underline;
}

.link-muted:hover,
.link-muted:focus {
  color: $gray;
}

.link-inherit,
.link-inherit:visited {
  color: inherit;
  text-decoration: underline;
}

/* ==========================================================================
   Page headers
   ========================================================================== */

.page-title {
  padding-bottom: 9px;
  margin: 20px 0 10px;
}

.page-title .small {
  font-size: 65%;
  font-weight: normal;
  line-height: 1.5;
  color: $gray-light;
  display: block;
}

.page-title-with-border {
  @extend .page-title;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.page-footer {
 clear: left;
 margin: $default-vertical-margin 0 $default-vertical-margin;
}

/* ==========================================================================
   Common content patterns
   ========================================================================== */

// Force long URLs to break
.breakable {
  word-break: break-all;
  display: inline-block;
}

.subtitle {
  margin: -$default-vertical-margin 0 $default-vertical-margin;
  font-size: $font-size-large;
}

.big-message {
  font-size: $font-size-h1;
  font-weight: bold;
}

.big-number {
  font-size: $font-size-h1 * 1.5;
  font-weight: bold;
}

/* No content
   ========================================================================== */

%large-and-spaced,
.large-and-spaced {
  font-size: $font-size-base * 2;
  line-height: $default-vertical-margin * 2;
  text-align: center;
  padding: ($default-vertical-margin * 4) 0;
}

.no-content {
  color: lighten($gray-light, 20%); // Large text needs a lighter colour for balance
  @extend %large-and-spaced;
}

.no-content-bordered {
  border: 1px solid $table-border-color;
  border-radius: $border-radius-base;
}

.error-page {
  @extend %large-and-spaced;
}

/* Highlights
   ========================================================================== */

.highlight {
  background: #aaa;
  text-align: center;
  padding: 2 * $default-vertical-margin;
  color: #fff;
  font-size: $font-size-base * 1.5;
  border-radius: $border-radius-base;
}

.highlight > p:last-child {
  margin-bottom: 0;
}

.highlight-turquoise,
.highlight-live {
  background-color: $turquoise;
}

.highlight-orange,
.highlight-pre-transition {
  background-color: $orange;
}

/* ==========================================================================
   Callouts
   ========================================================================== */

.callout {
  border: 1px solid $table-border-color;
  border-radius: $border-radius-small;
  padding: $default-vertical-padding;

  .callout-title {
    margin-top: 0;
    font-size: $font-size-h4;
  }

  .callout-body {
    font-size: $font-size-h3;
  }
}

.callout-danger {
  border-left: 5px solid #d9534f;

  .callout-title {
    color: $state-danger-text;
  }
}

.callout-warning {
  border-left: 5px solid #f0ad4e;

  .callout-title {
    color: $state-warning-text;
  }
}

.callout-info {
  border-left: 5px solid #5bc0de;

  .callout-title {
    color: $state-info-text;
  }
}

.callout-success {
  border-left: 5px solid #53ad53;

  .callout-title {
    color: $state-success-text;
  }
}

/* ==========================================================================
   Forms
   ========================================================================== */

/* Use an error style that matches bootstrap style guide
http://getbootstrap.com/css/#forms */
form .field_with_errors input,
form .field_with_errors textarea {
  border-color: $state-danger-text;
}

form .field_with_errors label {
  color: $state-danger-text;
  display: block;
}
