/* ==========================================================================
   Navbar
   ========================================================================== */

.navbar .container .navbar-brand,
.navbar .container-fluid .navbar-brand {
  background: image-url("govuk_admin_template/header-crown.png") 0 0.67em no-repeat;
  color: #fff;
  font-family: $font-family-gill-sans;
  font-size: 20px;
  margin-left: 0;
  padding-left: 2.3em;
  min-height: 37px;
  display: inline-block;
  vertical-align: top;
  float: none;

  .ie8 &,
  .lte-ie7 & {
    min-height: 20px;
  }

  .lte-ie7 & {
    display: inline;
    padding-left: 60px;
    background-position: 15px 0.67em;
    height: auto;
  }

}

// Prevent navbar height from collapsing when there's
// no navbar_right or navbar_items
header .navbar-header {
  min-height: 52px;
}

@media (max-width: 768px) {
  .navbar .container-fluid .navbar-brand,
  .navbar .container .navbar-brand {
    margin-left: 15px;
  }
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  text-decoration: underline;
}

.navbar-text a {
  color: $navbar-inverse-link-color;
  text-decoration: underline;

  &:hover {
    color: $navbar-inverse-link-hover-color;
  }

  &:active {
    color: $navbar-inverse-link-active-color;
  }
}

// Let's make these more specific to add the intended white colour
.navbar-inverse .nav-collapse .nav a:hover,
.navbar-inverse .nav-collapse .nav .active a,
.navbar-inverse .nav-collapse .nav .active a:hover,
.navbar-inverse .nav-collapse .nav .active a:focus {
  color: #fff;
}

.ie8 .navbar .container {
  padding-left: 30px;
  padding-right: 0;
}

/* Environment indicators
   ========================================================================== */

.environment-indicator {
  border-bottom: 5px solid #999;
}

.environment-production .environment-indicator {
  border-bottom-color: $production-color;
}

.environment-preview .environment-indicator,
.environment-integration .environment-indicator {
  border-bottom-color: $integration-color;
}

.environment-development .environment-indicator {
  border-bottom-color: $dev-color;
}

.environment-label {
  background: #fff;
  color: #333;
  padding: 3px 5px;
  border-radius: 3px;
  font-weight: bold;
  margin-top: 13px;
  margin-right: 10px;
  display: inline-block;

  .lte-ie7 & {
    display: inline;
    margin-bottom: 13px;
  }
}

@media (max-width: 500px) {
  .environment-label {
    display: none;
  }
}

.environment-production .environment-label {
  background-color: $production-color;
  color: #fff;
}

.environment-preview .environment-label,
.environment-integration .environment-label {
  background-color: $integration-color;
  color: #000;
}

.environment-development .environment-label {
  background-color: $dev-color;
  color: #000;
}
