.grid-example {
  background: #eee;
  border: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
